---
import Bars from "./Bars.astro"

import svgUnderline from '../assets/underline.svg'
import arrowCard from '../assets/arrow-card.svg'

const portfolio = [
  { 
    name: 'Blue Address', desc: `Fullstack development - Database - SEO`,
    cover: `https://res.cloudinary.com/dgghjmym7/image/upload/f_auto,q_auto/v1766993560/Screenshot_2025-11-07_225708_rgjbwi.png`,
    link:`www.blueaddress.com/`
  },
  { 
    name: 'RAIT Technovate', desc: `UI design - User research - webflow development`,
    cover: `https://res.cloudinary.com/dgghjmym7/image/upload/f_auto,q_auto/v1766993538/Screenshot_2025-11-07_225928_wnm3vp.png`,
    link:`https://www.raittechnovate.in/`
  },
  { 
    name: 'RV Networking', desc: `UI design - User research - Frontend development`,
    cover: `https://res.cloudinary.com/dgghjmym7/image/upload/f_auto,q_auto/v1766993534/Screenshot_2025-11-07_225816_t2ti4b.png`,
    link:`https://rvnetworking.com/`
  },
  { 
    name: 'Page Turner', desc: `Frontend development - Backend development - UI Design`,
    cover: `https://res.cloudinary.com/dgghjmym7/image/upload/f_auto,q_auto/v1766993535/Screenshot_2025-11-07_225954_fobbvi.png`,
    link:`https://pageturner-psi.vercel.app/`
  },
  { 
    name: 'To-Do list', desc: `Frontend development - UI Design`,
    cover: `https://res.cloudinary.com/dgghjmym7/image/upload/f_auto,q_auto/v1766993824/Screenshot_2025-12-29_130643_lmqqn3.png`,
    link:`https://pathakjatin.github.io/todo-list/`
  },
  { 
    name: 'Time Runs Out', desc: `Frontend development - UI Design - Game`,
    cover: `https://res.cloudinary.com/dgghjmym7/image/upload/f_auto,q_auto/v1766993538/Screenshot_2025-11-07_230022_m1ojv5.png`,
    link:`https://timerunsout.netlify.app/`
  },
]
---


<section class="py-25 space-y-10 px-5" id="work">
    <div class="max-w-md mx-auto relative ">
      <h1 class="text-4xl font-medium text-center">Some of my Works</h1>
      <img src={svgUnderline.src} alt="arrow" width="140" class="absolute left-50 -bottom-1" />
    </div>
  
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-10"> 
      {portfolio.map(item => ( 
        <a href={item.link} class="flex flex-col bg-white p-5 group relative transition-all duration-200 hover:shadow-[4px_4px_0px_rgba(0,0,0,0.3)]">
          <div class="w-full h-[200px] overflow-hidden border-2">
           <img src={item.cover} alt="" class="w-full h-full object-cover" />
          </div>
          <div class="space-y-1 pt-4">
            <div class="flex pr-2">
              <h2 class="text-xl font-medium flex-1">{item.name}</h2>
              <img src={arrowCard.src} alt="arrow" width="25" />
            </div>
            <p class="mr-20">{item.desc}</p>
          </div>
          <Bars />
        </a>
      ))}
    </div>
</section>